<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servlets_Day_10</display-name>
  <welcome-file-list>
    <welcome-file>newEmployeeInsert.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet1</display-name>
    <servlet-name>RegistrationServlet1</servlet-name>
    <servlet-class>com.marlabs.servlets.RegistrationServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet1</servlet-name>
    <url-pattern>/RegistrationServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationFailure</display-name>
    <servlet-name>RegistrationFailure</servlet-name>
    <servlet-class>com.marlabs.servlets.RegistrationFailure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationFailure</servlet-name>
    <url-pattern>/RegistrationFailure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestHeaderInfoServlet</display-name>
    <servlet-name>RequestHeaderInfoServlet</servlet-name>
    <servlet-class>com.marlabs.requestinfo.RequestHeaderInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestHeaderInfoServlet</servlet-name>
    <url-pattern>/RequestHeaderInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfigInfoServlet</display-name>
    <servlet-name>ConfigInfoServlet</servlet-name>
    <servlet-class>com.marlabs.configandcontext.ConfigInfoServlet</servlet-class>
    <init-param>
      <description>used to calculate HRA</description>
      <param-name>HRA</param-name>
      <param-value>0.04</param-value>
    </init-param>
    <init-param>
      <description>Basic salary</description>
      <param-name>Basic</param-name>
      <param-value>9850</param-value>
    </init-param>
    <init-param>
      <description>DA calculation</description>
      <param-name>DA</param-name>
      <param-value>0.4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigInfoServlet</servlet-name>
    <url-pattern>/ConfigInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>